/* src/index.css */

/* Reset básico + consistência */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  /* Fonte padrão boa (combina com Tailwind) */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  /* Fundo do app (igual sua paleta) */
  background: #fef8e5;

  /* Cor base do texto */
  color: #0f172a;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
